{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"dynamicImports": true
		},
		"target": "es2022",
		"externalHelpers": true,
		"minify": {
			"compress": true,
			"mangle": true
		}
	},
	"module": {
		"type": "commonjs",
		"strictMode": true,
		"lazy": false,
		"noInterop": false
	}
}
